</br>
Search: <input id="search-string" ng-model="filter">
<table class="list-table">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Telefon</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{ selected : contact.selected }" ng-repeat="contact in vm.contacts | filter:filter">
        <td><a href="#/edit/{{ contact._id }}" class="edit-link">{{ contact.name }}</a></td>
        <td> {{ contact.phone }}</td>
        <td><input ng-model="contact.selected" type="checkbox"></td>
        <td><a href class="delete-link" ng-click="vm.deleteContact(contact._id)">Erase</a> </td>
    </tr>
    </tbody>
</table>